/* basic dimensions */
$gridBase: 8px;
$lineHeight: $gridBase * 7;
$padding: $gridBase * 3;
$paddingSmall: $padding/2;
$paddingLarge: $padding * 2;

/* colors */
$colorWhite: #ffffff;
$colorBlack: #333333;

$colorLightGrey: #f3f3f3;
$colorGrey: #c2c2c2;
$colorDarkGrey: #6b7a83;

$colorLightBlue: #35abeb;
$colorBlue: #2477ab;
$colorDarkBlue: #091f40;

$colorGreen: #8cc63f;
$colorLightGreen: lighten($colorGreen, 50%);
$colorDarkGreen: darken($colorGreen, 50%);

$colorRed: #b80f0a;

$dinit: #125ea7;

$white: #ffffff;
$black: #000000;

$logo: #ffffff;

$favicon: #fdd835;
$faviconselected: #367fa9;
$favBtn: #676767;

$profileCheck: #4285f4;

$menu: #c2c2c2;

$modalconfirm: #125ea7;
$modalcancelB: #ffffff;
$modalcancelC: #125ea7;

$green: green;
$red: red;
$editBtn: #125ea7;

$switchB: #bebcb8;
$switchA: #f1f1f1;
$switchInputC: #acc4c7;

/* NEW COLORS */
//1
$colorOne: #125EA7;//#875629;
$colorTwo: #4285f4;//#cb9d73;
$colorThree: #c3ddec;//#e9d5c3;
$colorFour: #99c5de;//#dab99b;
$colorFive: #4285f4;
$buttons: #b47337;
$adminColor: #ffffff;
$cart: #875629;
//2
// $colorOne: #163a56;
// $colorTwo: #2f5572;
// $colorThree: #adc0ce;
// $colorFour: #7792a8;
// $buttons: #50738d;
// $adminColor: #000000;
// $cart: #163a56;
//3
// $colorOne: #31708e;
// $colorTwo: #5085a5;
// $colorThree: #8fc1e3;
// $colorFour: #8fc1e3;
// $buttons: #8fc1e3;
// $adminColor: #000000;
// $cart: #31708e;
//4
// $colorOne: #5d5c61;
// $colorTwo: #379683;
// $colorThree: #b1a296;
// $colorFour: #557a95;
// $buttons: #7395ae;
// $adminColor: #000000;
// $cart: #5d5c61;
//5
// $colorOne: #303d6d;
// $colorTwo: #5085a5;
// $colorThree: #b4dfed;
// $colorFour: #b4dfed;
// $buttons: #fbe8a6;
// $adminColor: #000000;
// $cart: #303d6d;
//6
// $colorOne: #5a8c8c;
// $colorTwo: #bf8d7a;
// $colorThree: #f2eee9;
// $colorFour: #a69c94;
// $buttons: #73706e;
// $adminColor: #000000;
// $cart: #5a8c8c;

/*  fonts */

$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Raleway

$bigger: 32px;
$editsize: 24px;
$big: 20px;
$small: 16px;
$smaller: 14px;
$smallTwo: 12px;
